
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Medigo Blue, free responsive template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->
    
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- For model window plugin -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/misc.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blue-scheme.css') }}">
	
	<!-- JavaScripts -->
	<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
		
        <ul class="main_menu">

            <li><a href="/">Home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="/contact">Contact</a></li>
			<li><a href="/signOut">SignOut</a></li>
			
        </ul> <!-- /.main_menu -->
	
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="{{ url_for('static', filename='images/logo.png') }} " alt="Medigo by templatemo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="/">Home</a></li>
					            <li><a href="/user">Login/SignUp</a></li>
					            <li><a href="/contact">Contact</a></li>
								<li><a href="/signOut">SignOut</a></li>
								{% if userNameSess!=None %}
								<h6 style="color: black; float: right; font-weight: bold;">Welcome, {{userNameSess}}</h6>
								{%endif%}
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
    {% block body %}




    {% endblock %}

    <footer class="site-footer" style="background-color: black;">
		<div class="container" >
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="/">Home</a></li>
							<li><a href="/user">Login/SignUp</a></li>
					            <li><a href="contact.html">Contact</a></li>
								<li><a href="/signOut">SignOut</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2021 Medigo
                    | Design: AK Group</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/min/plugins.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/min/medigo-custom.min.js') }}"></script>

</body>
</html>